﻿<!Doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Edit Customer</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'/>
    <link href="/stylesheets/pe-icon-7-stroke.css" rel="stylesheet" />
     <link href="/stylesheets/loader.css" rel="stylesheet" />
     <link href="/stylesheets/alertify.core.css" rel="stylesheet" />
    <link href="/stylesheets/alertify.default.css" rel="stylesheet" />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/light-bootstrap-dashboard.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.min.js" type="text/javascript"></script>
    <script src="/javascripts/alertify.js"></script>  
    <script type="text/javascript">  
        var abcd = '<%- JSON.stringify(editcustomer)%>';
        $(document).ready(function () {
            $('body').on('click', '.disabled', function (e) {
                e.preventDefault();
                return false;
            });            
        });     
    </script>
      <script src="/javascripts/controllers/editcust.js"></script>
<style>
        .material-switch > input[type="checkbox"] {
            display: none;
        }

        .material-switch > label {
            cursor: pointer;
            height: 0px;
            position: relative;
            width: 40px;
        }

            .material-switch > label::before {
                background: rgb(0, 0, 0);
                box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
                border-radius: 8px;
                content: '';
                height: 16px;
                margin-top: -8px;
                position: absolute;
                opacity: 0.3;
                transition: all 0.4s ease-in-out;
                width: 40px;
            }

            .material-switch > label::after {
                background: rgb(255, 255, 255);
                border-radius: 16px;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                content: '';
                height: 24px;
                left: -4px;
                margin-top: -8px;
                position: absolute;
                top: -4px;
                transition: all 0.3s ease-in-out;
                width: 24px;
            }

        .material-switch > input[type="checkbox"]:checked + label::before {
            background: inherit;
            opacity: 0.5;
        }

        .material-switch > input[type="checkbox"]:checked + label::after {
            background: inherit;
            left: 20px;
        }



        .badgebox {
            opacity: 0;
        }

            .badgebox + .badge {
                /* Move the check mark away when unchecked */
                text-indent: -999999px;
                /* Makes the badge's width stay the same checked and unchecked */
                width: 27px;
            }

            .badgebox:focus + .badge {
                /* Set something to make the badge looks focused */
                /* This really depends on the application, in my case it was: */
                /* Adding a light border */
                box-shadow: inset 0px 0px 5px;
                /* Taking the difference out of the padding */
            }

            .badgebox:checked + .badge {
                /* Move the check mark back when checked */
                text-indent: 0;
            }
        /*Radio button*/
        label.btn span {
            font-size: 1.5em;
        }

        label input[type="radio"] ~ i.fa.fa-circle-o {
            color: #c8c8c8;
            display: inline;
        }

        label input[type="radio"] ~ i.fa.fa-check-circle-o {
            display: none;
        }

        label input[type="radio"]:checked ~ i.fa.fa-circle-o {
            display: none;
        }

        label input[type="radio"]:checked ~ i.fa.fa-check-circle-o {
            color: #7AA3CC;
            display: inline;
        }

        label:hover input[type="radio"] ~ i.fa {
            color: #7AA3CC;
        }

        .centertext {
            text-align: center;
        }

        .contentDrop {
            width: 100px;
            height: 25px;
            padding: 0px 10px;
            margin-bottom: 5px;
        }

        .tanklist {
            border-bottom: 1px solid lightgray;
            padding: 6px 0px 6px 0px;
            margin-bottom: 10px;
        }

        .modal-backdrop {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #000;
            z-index: 0 !important;
        }

        .disabled, .disabled input, .disabled label {
            cursor: not-allowed;
        }
    </style>
</head>
<body ng-app="oicmsAdmin" ng-controller="editcustomer">

<div class="wrapper">
    <div class="sidebar" data-color="azure">
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    OICMS Admin
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/customers">
                        <i class="pe-7s-user"></i>
                        <p>Customers</p>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="pe-7s-note2"></i>
                        <p>Option 3</p>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="pe-7s-news-paper"></i>
                        <p>Option 4</p>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="pe-7s-science"></i>
                        <p>Option 5</p>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="pe-7s-map-marker"></i>
                        <p>Option 6</p>
                    </a>
                </li>
            </ul>
    	</div>
         <div class="sidebar-background" style="background-image: url(/images/sidebar-5.jpg) "></div> 
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><%= editcustomer.username %></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/admin/logout">
                               <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content" style="padding-top:5px;">
            <span><a href="/customers" style="cursor:pointer;">Customers</a> / <%= editcustomer._id %></span>
                <div class="row" style="padding-top:15px;">
                    <form novalidate ng-submit="custForm.$valid && saveCustomer()" method="POST" name="custForm">
                   <div class="col-md-12" style="min-height:420px;">    
                       
                       <ul class="nav nav-tabs" style="padding-left:0;margin-left:-1px;;">
                         <li class="active"><a href="#master" data-toggle="tab">Master</a></li>
                         <li><a href="#slaves" data-toggle="tab">Slaves</a></li>
                          <li id="fert"><a href="#fertigation" data-toggle="tab">Fertigation</a></li>
                       </ul>
                        <div class="tab-content">                    
                      <div class="card tab-pane fade in active" id="master" style="border-top-left-radius:0;">
                          <div class="content">                              
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Customer Name</label>
                                                <input type="text" ng-model="customer.name" name="custname" class="form-control" placeholder="Company" required/>
                                                <span style="color:red;" ng-show="custForm.$submitted && custForm.custname.$invalid">The Name is required.</span>
                                            </div>
                                        </div>
                                         <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" ng-model="customer.email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control" ng-model="customer.address" name="address" placeholder="Home Address" required/>
                                                <span style="color:red;" ng-show="custForm.$submitted && custForm.address.$invalid">The Address is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Mobile No.</label>
                                                <input type="text" class="form-control" ng-model="customer.mobile" name="mobile" placeholder="Mobile" required/>
                                                <span style="color:red;" ng-show="custForm.$submitted && custForm.mobile.$invalid">The Contact is required.</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" ng-model="customer.city" placeholder="City" name="city" required/>
                                                <span style="color:red;" ng-show="custForm.$submitted && custForm.city.$invalid">The City is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>State</label>
                                                <input type="text" class="form-control" ng-model="customer.state" placeholder="State" name="state" required/>
                                                <span style="color:red;" ng-show="custForm.$submitted && custForm.state.$invalid">The State is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Postal Code</label>
                                                <input type="number" class="form-control" ng-model="customer.zipcode" placeholder="ZIP Code"/>
                                            </div>
                                        </div>
                                    </div>                                
                            </div>
                       </div>                                
                        

                         <div class="card tab-pane fade" id="slaves">
                            <div class="content">

                                            <div ng-repeat="slave in customer.slaves">
                                                <div class="row">
                                                    <div class="col-md-10 col-xs-10 col-sm-10">
                                                        <div class="form-group">
                                                            <input type="text" ng-model="slave.location" class="form-control" placeholder="Name/Location" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 col-xs-2 col-md-2"><i class="glyphicon glyphicon-remove" style="color: red; cursor: pointer; padding-top: 9px;" ng-click="removeSlave($index)"></i></div>
                                                </div>
                                                <div class="row" style="border-bottom: 1px solid #87CB16; margin-bottom: 5px;">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <label>
                                                                Pump Card
                                                            </label>
                                                            <div class="btn-group">
                                                                <div class="material-switch" style="margin-left: 25px;">
                                                                    <input id="pumpswitch{{$index}}" ng-model="slave.pumpcard" name="PumpEnableSwitch"  type="checkbox" />
                                                                    <label for="pumpswitch{{$index}}" class="label-success"></label>
                                                                </div>
                                                            </div>
                                                            <div class="btn-group" id="pumpList{{$index}}" ng-show="slave.pumpcard">
                                                                <label for="Pump1{{$index}}" class="btn btn-info col-md-6 col-sm-6">Pump 1
                                                                    <input ng-model="slave.pump1" type="checkbox" id="Pump1{{$index}}"></label>
                                                                <label for="Pump2{{$index}}" class="btn btn-info col-md-6 col-sm-6">Pump 2
                                                                    <input ng-model="slave.pump2" type="checkbox" id="Pump2{{$index}}"></label>
                                                                <label for="Pump3{{$index}}" class="btn btn-info col-md-6 col-sm-6">Pump 3
                                                                    <input ng-model="slave.pump3" type="checkbox" id="Pump3{{$index}}"></label>
                                                                <label for="Pump4{{$index}}" class="btn btn-info col-md-6 col-sm-6">Pump 4
                                                                    <input ng-model="slave.pump4" type="checkbox" id="Pump4{{$index}}"></label>
                                                            </div>
                                                            <!--<input type="number" min="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" ng-model="slave.pumpcard" placeholder="No. of Pump Cards" />-->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <label>Filter Cards</label>
                                                            <input type="number" min="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" ng-model="slave.filtercard" placeholder="No. of Filter Cards" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <label>PFC Cards (Each 20 Valves)</label>
                                                            <br />
                                                            <div class="btn-group">
                                                                <label class="btn btn-info active">
                                                                    <input type="radio" id="card0{{$index}}" ng-model="slave.pfccards" ng-change="CardValueChanged(slave.pfccards,$index)" value="0" checked><span>0</span>
                                                                </label>
                                                                <label class="btn btn-info">
                                                                    <input type="radio" id="card1{{$index}}" ng-model="slave.pfccards" ng-change="CardValueChanged(slave.pfccards,$index)" value="1"><span>1</span>
                                                                </label>
                                                                <label class="btn btn-info">
                                                                    <input type="radio" id="card2{{$index}}" ng-model="slave.pfccards" ng-change="CardValueChanged(slave.pfccards,$index)" value="2"><span>2</span>
                                                                </label>
                                                                <br />
                                                                <div class="col-md-6 col-sm-6 in1{{$index}}" ng-hide="slave.pfccards == '0'" id="cardOne{{$index}}" style="padding: 0px 5px 0px 0px;">
                                                                    <input class="form-control" type="number" ng-blur="checkValves($index,1)" ng-readonly="slave.pfccards == '2'" ng-model="slave.CardsFirst" min="1" max="20">
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 in2{{$index}}" id="cardTwo{{$index}}" ng-show="slave.pfccards == '2'" style="padding: 0px 0px 0px 5px;">
                                                                    <input class="form-control" type="number" ng-blur="checkValves($index,2)" ng-model="slave.CardsSecond" min="21" max="40">
                                                                </div>
                                                            </div>

                                                            <!--<input type="number" min="0" max="2" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" ng-model="slave.pfccard" placeholder="No. of PFC Cards" />-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row text-center">
                                                <button class="btn btn-success" type="button" ng-click="addSlave()"><span class="glyphicon glyphicon-plus"></span></button>
                                            </div>
                                        </div>                            
                        </div>

                         <div class="card tab-pane fade" id="fertigation"> 
                              <div class="content" style="padding-bottom: 3px;">
                                            <div class="row">
                                                <div class="col-md-6" style="padding-top: 10px;">
                                                    <span style="margin-right: 10px;">
                                                        <label>Fertigation </label>
                                                    </span>
                                                    <div class="btn-group">
                                                        <div class="material-switch">
                                                            <input id="someSwitchOptionSuccess" ng-model="customer.fertigation" name="someSwitchOption001" ng-change="enableFert()" type="checkbox" />
                                                            <label for="someSwitchOptionSuccess" class="label-success"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" ng-show="customer.fertigation">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                                <th>Tank (On/Off)</th>
                                                                <th>Agitator</th>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="tank in customer.tanks">
                                                                    <td>
                                                                        <span>{{tank.tankname}}</span>&nbsp;&nbsp;
                                                                        <div class="btn-group">
                                                                            <div class="material-switch">
                                                                                <input id="tank{{$index}}" ng-model="tank.tankswitch" ng-change="tankEnableSwitch($index)" name="tankSwitch" type="checkbox" />
                                                                                <label for="tank{{$index}}" class="label-success"></label>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="btn-group">
                                                                            <div class="material-switch" ng-class="tank.tankswitch?'':'disabled'" id="ag{{$index}}">
                                                                                <input id="agi{{$index}}" ng-model="tank.agitator" name="agiSwitch" type="checkbox" />
                                                                                <label for="agi{{$index}}" class="label-success"></label>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="row">
                                                        <label style="padding-left:20px;">Contents</label>
                                                    </div>
                                                    <div class="row" ng-repeat="cont in customer.contents">
                                                    <div class="col-md-10 col-xs-10 col-sm-10">
                                                        <div class="form-group">
                                                            <input type="text" ng-model="cont.value" class="form-control" ng-blur="checkContent($index)"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 col-xs-2 col-md-2"><i class="glyphicon glyphicon-remove" style="color: red; cursor: pointer; padding-top: 9px;" ng-click="removeContent($index)"></i></div>
                                                </div>
                                                    <div class="row text-center">
                                                        <button type="button" class="btn btn-info" ng-click="pushContent()">Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                 
                        </div>                                
                             
                        </div>
                    </div>
                      <button type="submit" class="btn btn-info btn-fill" style="margin-left:15px;width:180px;">Update</button>
                </form>
                </div>
            </div>
        </div>

    </div>
      <div class="loading" ng-show="loading"></div>
</body>
   
</html>
