<html>
<head>
<title><%= title %></title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
 <link href="stylesheets/landing-page.css" rel="stylesheet">
  <link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
 </head>
<body  class="intro-header">
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="http://varahitechnologies.com">VARAHI TECHNOLOGIES</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" style="font-size:16px;"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login" style="font-size:16px;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
    <!-- Header -->
    <div>
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>OICMS Web Service</h1>
                        <h3>Express Node Js Framework</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="http://varahitechnologies.com" class="btn btn-default btn-lg"><i class="fa fa-vine fa-fw"></i> <span class="network-name">Varahi Technologies</span></a>
                            </li>
							 <li>
                                <a href="http://localhost:1337" class="btn btn-default btn-lg"><i class="fa fa-user fa-fw"></i> <span class="network-name">About Our Team</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
	<!-- Footer -->
	<footer style="letter-spacing:0.8px;background:transparent;position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;">
	&copy; 2016 Varahi Technologies. &nbsp;All Rights Reserved. &nbsp;Designed by &nbsp;Sachin Devhade 
	</footer>
</body>
</html>
