﻿<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title><%= customer.username %></title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/pe-icon-7-stroke.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/light-bootstrap-dashboard.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/js/bootstrap-notify.js"></script>   

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="azure">
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    OICMS Admin
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/customers">
                        <i class="pe-7s-user"></i>
                        <p>Customers</p>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="pe-7s-note2"></i>
                        <p>Option 3</p>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="pe-7s-news-paper"></i>
                        <p>Option 4</p>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="pe-7s-science"></i>
                        <p>Option 5</p>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="pe-7s-map-marker"></i>
                        <p>Option 6</p>
                    </a>
                </li>
            </ul>
    	</div>
         <div class="sidebar-background" style="background-image: url(/images/sidebar-5.jpg) "></div> 
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Customers</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/admin/logout">
                               <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>                   
                </div>
            </div>
        </nav>

        <div class="content" style="padding-top:5px;">
             <span><a href="/customers" style="cursor:pointer;">Customers</a> / <%= customer._id %></span>
        <div class="container-fluid" style="padding-top:15px;">
          <div class="row">                    
              <div class="col-md-12" style="min-height:420px;">                         
                <ul class="nav nav-tabs" style="padding-left:0;margin-left:-1px;;">
                  <li class="active"><a href="#master" data-toggle="tab">Master</a></li>
                   <li><a href="#schedules" data-toggle="tab">Schedules</a></li>
                 </ul>
                   <div class="tab-content">
                      <div class="card tab-pane fade in active" id="master" style="border-top-left-radius:0;">
                     <div class="content">
                           <div class="row" style="border-bottom:1px solid #ddd">
                          <div class="col-md-6 col-sm-6" style="padding:0 0 0 10px;margin:0">
                             <label style="min-width:80px;">USERNAME: </label> <%= customer.username %>
                          </div>
                        <div class="col-md-6 col-sm-6" style="padding:0 0 0 10px;margin:0">
                             <label style="min-width:80px;">NAME: </label> <%= customer.name %>
                          </div>                        
                        </div>
                         <div class="row" style="border-bottom:1px solid #ddd">
                          <div class="col-md-6 col-sm-6" style="padding:0 0 0 10px;margin:0">
                            <label style="min-width:80px;">EMAIL: </label> <%= customer.email %>
                          </div>
                          <div class="col-md-6 col-sm-6" style="padding:0 0 0 10px;margin:0">
                             <label style="min-width:80px;">CITY: </label> <%= customer.city %>
                          </div>                        
                        </div>
                         <div class="row" style="border-bottom:1px solid #ddd">
                          <div class="col-md-6 col-sm-6" style="padding:0 0 0 10px;margin:0">
                             <label style="min-width:80px;">STATE: </label> <%= customer.state %>
                          </div>
                        <div class="col-md-6 col-sm-6" style="padding:0 0 0 10px;margin:0">
                            <label style="min-width:80px;">POSTAL: </label> <%= customer.zipcode %>
                          </div>                         
                        </div>
                          <div class="row" style="border-bottom:1px solid #ddd"> 
                            <div class="col-md-6 col-sm-6" style="padding:0 0 0 10px;margin:0">
                             <label style="min-width:80px;">ADDRESS: </label> <%= customer.address %>
                          </div> 
                              <div class="col-md-6 col-sm-6" style="padding:0 0 0 10px;margin:0">
                             <label style="min-width:80px;">MOBILE: </label> <%= customer.mobile %>
                          </div>                       
                          </div>
                         <br />
                         <div class="row">                          
                        <div class="col-md-6 col-sm-6" style="padding:0 0 0 10px;margin:0">
                         <label style="font-weight:bold;padding-bottom:0;">SLAVES :</label>
                            </div>
                             </div>
                         <div class="row">
                             <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>ID</th>
                                    	<th>Location</th>
                                        <th>Filters</th>
                                        <th>Pumps</th>
                                        <th>Valves</th>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i< customer.slaves.length; i++){ %>
                                        <tr>
                                        	<td><%= customer.slaves[i]._id %></td>
                                        	<td><%= customer.slaves[i].location %></td>
                                            <td><%= customer.slaves[i].filtercard %></td>
                                            <td><%= customer.slaves[i].pumpenabled %></td>
                                            <td><%= customer.slaves[i].valveenabled %></td>
                                       </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                         </div>                        
                         <div class="row">                          
                        <div class="col-md-6 col-sm-6" style="padding:0 0 0 10px;margin:0">
                         <label style="font-weight:bold;padding-bottom:0;">FERTIGATION :</label>
                            </div>
                             </div>
                          <% if(customer.fertigation){ %>
                         <div class="row">
                             <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>NAME</th>
                                    	<th>ON/OFF</th>
                                        <th>AGITATOR</th>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i< customer.tanks.length; i++){ %>
                                        <tr>
                                        	<td><%= customer.tanks[i].tankname %></td>
                                        	<td><%= (customer.tanks[i].tankswitch)?"ON":"OFF" %></td>
                                            <td><%= (customer.tanks[i].agitator)?"Enabled":"Disabled"  %></td>
                                       </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                         </div>

                         <div class="row">                          
                        <div class="col-md-6 col-sm-6" style="padding:0 0 0 10px;margin:0">
                         <label style="font-weight:bold;padding-bottom:0;">CONTENTS :</label>
                            </div>
                             </div>
                         <div class="row">
                             <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <tbody>                                        
                                        <tr>
                                        	<td>
                                                <% for(var i=0; i< customer.contents.length; i++){ %>
                                                <%= customer.contents[i].value + ", " %>
                                                <% } %>
                                        	</td>
                                       </tr>                                        
                                    </tbody>
                                </table>
                            </div>
                         </div>
                    <% } %>
                      </div> 
                      </div> 
                       
                       <div class="card tab-pane fade" id="schedules">
                           <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Schedule No.</th>
                                    	<th>Start Time</th>
                                    	<th>Status</th>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i< schedules.length; i++){ %>
                                        <tr>
                                        	<td><%= schedules[i].scheduleNum %></td>
                                        	<td><%= schedules[i].startTime %></td>
                                        	<td><%= schedules[i].status %></td>
                                       </tr>
                                        <% } %>
                                    </tbody>
                                </table>

                            </div>
                       </div>
                        
                    </div>
                 </div>
              <a href="/customers/<%= customer._id %>" class="btn btn-info btn-fill" style="margin-left:15px;width:180px;">Edit</a>
              </div>
            </div>
        </div>

    </div>
</div>

</body>
 
	

</html>
